<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/nhap.css">
</head>
<body>
    <div>
        <h3>Newsfeed</h3>
        <p id="username" value="chuHuong"></p>
        <form id= "post-form">
            <textarea name="content" id="content" rows="2" placeholder="write something"></textarea>
            <button type="submit" id="btn">Post</button>
        </form>
        <div id="posts-list-cointainer">
            <ul>
                <li>adasca</li>
            </ul>
        </div>
        <div>
            <p>It is the end</p>
        </div>
    </div>
    <script src="ajax/nhap.js"></script>
</body>
</html>